/*HOME PAGE*/

body{
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

/****************************************************************************************************/
/****************************************************************************************************/
/****************************************************************************************************/

#Block{
    display:flex;
    flex-direction: row;
    flex-flow: wrap;
    width: 100%;
}

#OrderBlock{
    width: 20%;
    height:30%;
    border-radius: 10px;
    background-color: rgba(255, 243, 200, 1);
    display:flex;
    flex-direction: column;
    margin:10px;
    font-family: 'Chau Philomene One', sans-serif;
}

#Username{
    order:1;
    padding-left: 7px;
}

#OrderNumber{
    order:2;
    padding-left: 7px;
}

#PizzaName{
    order:3;
    padding-left: 7px;
}

#Ingredients{
    order:4;
    padding-left: 7px;

}

#Dontdisplay{
    color: transparent;

}



#HIDE{
    position: relative;
    bottom: 80%;
}

.FinishButton{
    position: relative;
    left: 420px;
    top: 40px;
    
}

input[type=text], select {
    top: 9px;
    left: 10px;
    width: 89%;
    height: 25px;
    justify-content: center;
    vertical-align: middle;

    
}

.InputTextColor{
    background-color: rgba(255, 243, 200, 1);
    border: none;
    height: 43px;
    width: 200px;
    border-radius: 10px;
}


input[type=submit] {
    background-color: rgba(114, 191, 107, 1);
    color: white;
    border:none;
    border-radius: 10px;
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 20px;
}   



