/*HOME PAGE*/

body{
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

.LogoandLogin{
    display: flex;
    flex-direction: row;
}

.LogoContainer{
    flex: 1;
    order: 1;
}

.Loginbutton{
    order: 2;  
}

#login{
    background-color: rgba(114, 191, 107, 1);
    color: white;
    width: 70px;
    height: 30px;
    border-radius: 10px;
    border: none;

    font-family: 'Chau Philomene One', sans-serif;
    font-size: 20px;
}

h1{
    /* MARIO & LUIGI’S PIZZERIA */

    width: 438px;
    height: 59px;
    
    font-family: 'Chela One';
    font-style: normal;
    font-size: 25px;
    line-height: 42px;
    letter-spacing:1px;
    
    color: black;
    }
    
    .Mariologo{
        color: rgba(248, 87, 87, 1);
        float: left;
        clear: none;
        margin-left: 10px;
    }
    .andsymbol{
        float: left;
        clear: none;
        margin-left: 10px;
        margin-right: 10px;
    }
    .Luigilogo{
        color: rgba(114, 191, 107, 1);
        float: left;
        clear: none;
        margin-right: 10px;
    }
    
/******************************************************************************************************/
/*********************************************MENU BAR LINES*******************************************/
/******************************************************************************************************/

.Menubar{
    display: flex;
    flex-direction: column;
    position: relative;
    top: -1.5em
}

.Redbar{
    order: 1;
    background-color: rgba(248, 87, 87, 1);
    width: 100%;
    height: 30px;
    border: none;

    display:flex;
    flex: row;
    text-align: center;
    vertical-align: middle;
}

.Greenbar{
    order:2;
    order: 2;
    background-color: rgba(114, 191, 107, 1);
    width: 100%;
    height: 30px;
    border: none;


    display:flex;
    flex: row;
    text-align: center;
    vertical-align: middle;
}

#HOME{
    flex: 1;
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 18px;
    text-align:center;
    color: white;
    border: none;
    background-color: transparent;
    padding-left: 10px;
}

#Check{
    flex:2;
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 18px;
    text-align:center;
    color: white;
    border: none;
    background-color: transparent;
    padding-left: 30px;
}

/******************************************************************************************************/
/****************************************************BLOCK*********************************************/
/******************************************************************************************************/


.Horizontalposition{
    display: flex;
    flex-direction:row;
    justify-content: center;
    
}

.Verticalposition{
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: rgba(255, 243, 200, 1);
    border-radius: 10px;
    height: 400px;
    width: 80%;
}

.center{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
#Choose{
    order: 1;
    justify-content: center;
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 20px;
}


.options{
    order:2;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


#Deliver{
    order: 2;
    display: flex;
    flex-direction: row;
    background-color: rgba(114, 191, 107, 1);
    color: white;
    border:none;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    font-family: 'Chau Philomene One', sans-serif;
    text-align: center;
    padding-right: 10px;
    font-size: 20px;
    vertical-align: middle;
}

#DeliverIcon{
    order:1;
    text-align: start;
    padding-right: 20px;
}

#label{
    order:2;
    vertical-align: middle;
}


#Instore{
    order: 2;
    background-color: rgba(248, 87, 87, 1);
    color: white;
    border:none;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 20px;

}

.spacing{
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 17px;

}

/******************************************************************************************************/
/*******************************************BARS AT THE BOTTOM*****************************************/
/******************************************************************************************************/

.Bottomlines{
    display: flex;
    flex-direction: column;
    padding-top: 135px;
    
}

#bottombar1{
    order: 1;
    width: 100%;
    height: 17px;
    background-color: #FA5F5F;
}

#bottombar2{
    order: 2;
    width: 100%;
    height: 17px;
    background-color: #72BF6B;
}