/*STATUS PAGE*/

/*Order tracker CSS*/
body{
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

.LogoandLogin{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.LogoContainer{
    flex: 1;
    order: 1;
}

.Loginbutton{
    order: 2;  
}

#login{
    background-color: rgba(114, 191, 107, 1);
    color: white;
    width: 70px;
    height: 30px;
    border-radius: 10px;
    border: none;

    font-family: 'Chau Philomene One', sans-serif;
    font-size: 20px;
}

h1{
    /* MARIO & LUIGI’S PIZZERIA */

    width: 438px;
    height: 59px;
    
    font-family: 'Chela One';
    font-style: normal;
    font-size: 25px;
    line-height: 42px;
    letter-spacing:1px;
    
    color: black;
    }
    
    .Mariologo{
        color: rgba(248, 87, 87, 1);
        float: left;
        clear: none;
    }
    .andsymbol{
        float: left;
        clear: none;
        margin-left: 10px;
        margin-right: 10px;
    }
    .Luigilogo{
        color: rgba(114, 191, 107, 1);
        float: left;
        clear: none;
        margin-right: 10px;
    }
    
/******************************************************************************************************/
/*********************************************MENU BAR LINES*******************************************/
/******************************************************************************************************/
 
.Menubar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.Redbar{
    order: 1;
    display: inline-flex;
    flex-direction: row;
    order: 1;
    background-color: rgba(248, 87, 87, 1);
    width: 100%;
    height: 35px;
    border: none;
}

#HOME{
    order: 1;
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 18px;
    text-align:center;
    color: white;
    border: none;
    background-color: transparent;
}

#Ordersearch{
    order: 2;
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 18px;
    text-align:center;
    color: white;
    border: none;
    background-color: transparent;
}


.Greenbar{
    order:2;
    display: inline-flex;
    background-color:rgba(114, 191, 107, 1);
    width: 100%;
    height: 35px;
    border: none;
}


#cookorders{
    order: 1;
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 18px;
    text-align:center;
    color: white;
    border: none;
    background-color: transparent;
}

/******************************************************************************************************/
/*******************************************STATUS IN CENTER*****************************************/
/******************************************************************************************************/

.main{
    display: flex;
    flex-direction:row;
    justify-content: center;
    vertical-align: middle;
    padding: 10px;

    
}

#divID{
    order: 1;
    display: flex;
    background-color: #ffe585;
    border-radius: 10px;

    flex-direction:row;
    justify-content: center;
}

#text{
    
    justify-content: center;
}

#center{
    justify-content: center;
}

#DONE{
    background-color: rgba(114, 191, 107, 1);
    color: white;
    border:none;
    height: 35px;
    width: 75px;
    border-radius: 10px;
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 22px;
    justify-content: end;
}







/******************************************************************************************************/
/*******************************************BARS AT THE BOTTOM*****************************************/
/******************************************************************************************************/

.Bottomlines{
    display: flex;
    flex-direction: column;
    padding-top: 135px;
    
}

#bottombar1{
    order: 1;
    width: 100%;
    height: 17px;
    background-color: #FA5F5F;
}

#bottombar2{
    order: 2;
    width: 100%;
    height: 17px;
    background-color: #72BF6B;
}