* {
  font-family: 'Chau Philomene One';
}

body {
  margin: 0px;
}

.main {
  top: 172.4px;
  position: relative;
  padding-bottom: 24px;
}

#pizzas {
  position: absolute;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#cart {
  float: right;
  width: 37%;
}

#cart2 {
  float: right;
  top: 172.4px;
  margin: 24px;
  margin-bottom: 24px;
  border-radius: 10px;
  width: 90%;
  background-color: #ffe585;
}

button {
  float: right;
  cursor: pointer;
  background-color: rgb(80, 192, 69);
  color: white;
  border: outset rgb(35, 118, 28) 2px;
  border-radius: 5px;
}

.button {
  font-size: 40px;
  width: 0.8em;
  height: 0.8em;
  line-height: 0.8em;
}

.deleteButton {
  margin: 5px;
}

.payButton {
  float: right;
  margin: 30px;
  font-size: large;
}

.clearButton {
  background-color: rgb(255, 52, 52);
  border-color: rgb(149, 14, 14);
}

.submitButton {
  float: left;
  cursor: pointer;
  background-color: rgb(80, 192, 69);
  color: white;
  border: outset rgb(35, 118, 28) 2px;
  border-radius: 5px;
}

.registerButton {
  float: none;
  margin-left: 10px;
}

a {
  float: left;
  cursor: pointer;
}

#rightli {
  float: right;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.logo { /*white bar where logo sits on*/
  /* MARIO & LUIGI’S PIZZERIA */
  position: fixed;
  width: 100%;
  height: 42px;
  font-family: 'Chela One';
  font-size: 35px;
  line-height: 42px;
  letter-spacing: 1px;
  color: black;
  background-color: rgb(232, 232, 232);
  z-index: 2;
  box-shadow: 2px 2px 4px 0px #00000099;
  padding: 10px;
}

.Mariologo {
  color: rgb(255, 52, 52);
  float: left;
  clear: none;
  margin-left: 10px;
  font-family: 'Chela One';
}

.andsymbol {
  float: left;
  clear: none;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Chela One';
}

.Luigilogo {
  color: rgb(80, 192, 69);
  float: left;
  clear: none;
  margin-right: 10px;
  font-family: 'Chela One';
}

.linkBar { /*linkBar is the red bar with home, order tracker and login button*/
  position: fixed;
  top: 62px;
  width: 100%;
  background-color: rgb(255, 52, 52);
  box-shadow: 2px 2px 4px 0px #00000099
}

.linkBar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: rgb(255, 52, 52);
  font-size: 20px;
}

.linkBar a:hover {
  background-color: rgb(140, 14, 14);
}

.space_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuBar { /*menu bar for me is the pizza, drinks and desserts bar*/
  position: absolute;
  width: 100%;
  top: 117.2px;
  background-color: rgb(80, 192, 69);
  /* box-shadow: 2px 2px 4px 0px #00000099 */
  /* z-index: 1; */
}

.menuBar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: rgb(80, 192, 69);
  font-size: 20px;
  cursor: pointer;
}

.menuBar a:hover {
  background-color: rgb(32, 135, 22);
}

.row {
  display: flex;
  justify-content: space-around;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.cartTitle {
  margin-left: 20%;
}

h4 {
  font-size: 18px;
  font-weight: normal;
  margin: 0px;
}

.ingredients {
  font-size: 15px;
  max-width: 200px;
  color: rgb(54, 54, 54);
}

.pizzaItem {
  background-color: #ffe585;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}

.loginMain {
  position: relative;
  margin: 20px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.dessertImg {
  object-fit: contain;
}

.redBottomBar {
  position: fixed;
  bottom: 12px;
  height: 12px;
  background-color: rgb(255, 52, 52);
  width: 100%;
}

.greenBottomBar {
  position: fixed;
  bottom: 0px;
  height: 12px;
  background-color: rgb(80, 192, 69);
  width: 100%;
}

.cartTable {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.price {
  text-align: right;
  vertical-align: top;
  /* min-width: 80px; */
}

.totalPrice {
  font-size: larger;
}

th {
  text-align: left;
  vertical-align: top;
}

.cartHeader {
  padding-bottom: 10px;
  text-align: center;
  font-size: larger;
}

.custPizza {
  background-color: #ffe585;
  border-radius: 10px;
  margin: 24px;
  padding: 24px;
  padding-bottom: 0px;
  top: 172.4px;
}

input {
  accent-color: rgb(80, 192, 69);
}

.toppings {
  width: 200px;
}

.custPizzaButtons {
  float: right;
  width: 400px;
}

.marioCookImg {
  width: 300px;
  height: 300px;
  object-fit: contain;
  margin-right: 50px;
}

.emptySpace {
  height: 24px;
  bottom: 0px;
}

.noYPadding {
  padding-top: 0px;
  padding-bottom: 0px;
}

.textField {
  margin-top: 10px;
  margin-bottom: 10px;
}

.accountorno {
  margin-top: 40px;
}

.trackScreen {
  position: relative;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

