body {
    margin: 0px;
}

#parent {
    display: flex;
}

#pizzas {
    flex: 1;
}

#cart {
  flex: 0;
}

#cart2 {
  margin-left: 15px;
  margin-top: 50px;
}

button {
    float: right;
}

#navbar {
  flex: 1;
  position: fixed;
  top: 0;
  width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(175, 36, 36);
  }
  
  li {
    float: left;
  }

  
  #rightli {
    float: right;
  }

  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(91, 5, 5);
  }
