/*trackedCSS*/

.Trackingblock{
    /* display: flex;
    flex-direction:row;
    justify-content: center; */
    width: 100%;
}    

.centerpositioning{
    display: flex;
    background-color: #ffe585;
    border-radius: 10px;;
    height: 300px;
    width: 80%;
    flex-direction:column;
    justify-content: center;
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 17px;
    padding: 20px;
}
