<html>
    <head>
        <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    </head>
    <body>
        <div id="cart2">
        {% if anon[session.name] == 1 %}
        No account homie
        {% else %}
        <h1>Hello, <strong>{{session.name}}</strong>!</h1>
        <table>
            <tr><th>Order Number</th> <th>Order</th> <th>Price</th></tr>
        {% for order in porder %}
        <tr><th>{{order[2]}}</th>
        {% for item in order %}
        {% if item == " " %}
        {% elif item == session.name %}
        {% elif item == order[2] %}
        {% else %}
        <td>{{item}}</td>
        {% endif %}
        {% endfor %}
        </tr>
        {% endfor %}
        {% endif %}
    </table>
    </div>
    </body>
</html>