<html>

<head>
    <title>Mario & Luigi's Pizzeria</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<script src="https://unpkg.com/htmx.org@1.8.2"></script>

<body>
    <div id="cart2">
        {% if Order[session.name] == [] %}
        {% else %}
        <h1>Cart</h1>
        <br><br>
        <table>
            <tr>
                <th>Item</th>
                <th>Description</th>
                <th>Price</th>
                <th></th>
            </tr>
            {% for s in Order[session.name] %}
            <tr>
                {% if "Custom" in s %}
                <th>Custom</th>
                <th>{{s[2]}}, {{s[3]}}, {{s[4]}}</th>
                <th class="price">{{ s[5] }}</th>
                <th><button type="button" hx-trigger="click" hx-post="/pizza?{{s}}" hx-target="#cart">Delete</button></th>
                {% elif Dicktionary[s][0] == "Drink" %}
                <th>{{ Dicktionary[s][2] }}</th>
                <th></th>
                <th class="price">{{ Dicktionary[s][1] }}</th>
                {% if Dicktionary[s][3] == 8 %}
                <th><button type="button" hx-trigger="click" hx-post="/pizza?forange2" hx-target="#cart">Delete</button></th>
                {% elif Dicktionary[s][3] == 9 %}
                <th><button type="button" hx-trigger="click" hx-post="/pizza?ccola2" hx-target="#cart">Delete</button></th>
                {% elif Dicktionary[s][3] == 10 %}
                <th><button type="button" hx-trigger="click" hx-post="/pizza?grit2" hx-target="#cart">Delete</button></th>
                {% elif Dicktionary[s][3] == 11 %}
                <th><button type="button" hx-trigger="click" hx-post="/pizza?chcola2" hx-target="#cart">Delete</button></th>
                {% elif Dicktionary[s][3] == 12 %}
                <th><button type="button" hx-trigger="click" hx-post="/pizza?petea2" hx-target="#cart">Delete</button></th>
                {% elif Dicktionary[s][3] == 13 %}
                <th><button type="button" hx-trigger="click" hx-post="/pizza?fcasis2" hx-target="#cart">Delete</button></th>
                {% endif %}
                {% elif Dicktionary[s][0] == "Dessert" %}
                <th>{{ Dicktionary[s][2] }}</th>
                <th></th>
                <th class="price">{{ Dicktionary[s][1] }}</th>
                {% if Dicktionary[s][3] == 14 %}
                <th><button type="button" hx-trigger="click" hx-post="/pizza?chcake2" hx-target="#cart">Delete</button></th>
                {% elif Dicktionary[s][3] == 15 %}
                <th><button type="button" hx-trigger="click" hx-post="/pizza?ckie2" hx-target="#cart">Delete</button></th>
                {% elif Dicktionary[s][3] == 16 %}
                <th><button type="button" hx-trigger="click" hx-post="/pizza?brownie2" hx-target="#cart">Delete</button></th>
                {% elif Dicktionary[s][3] == 17 %}
                <th><button type="button" hx-trigger="click" hx-post="/pizza?vccake2" hx-target="#cart">Delete</button></th>
                {% elif Dicktionary[s][3] == 18 %}
                <th><button type="button" hx-trigger="click" hx-post="/pizza?icream2" hx-target="#cart">Delete</button></th>
                {% elif Dicktionary[s][3] == 19 %}
                <th><button type="button" hx-trigger="click" hx-post="/pizza?tsu2" hx-target="#cart">Delete</button></th>
                {% endif %}
                {% else %}
                <th>{{ Dicktionary[s][0] }}</th>
                <th>{{ Dicktionary[s][2] }}</th>
                <th class="price">{{ Dicktionary[s][1] }}</th>
                {% if Dicktionary[s][3] == 1 %}
                <th><button type="button" hx-trigger="click" hx-post="/pizza?margaritha2" hx-target="#cart">Delete</button></th>
                {% elif Dicktionary[s][3] == 2 %}
                <th><button type="button" hx-trigger="click" hx-post="/pizza?pepperoni2" hx-target="#cart">Delete</button></th>
                {% elif Dicktionary[s][3] == 3 %}
                <th><button type="button" hx-trigger="click" hx-post="/pizza?BBQC2" hx-target="#cart">Delete</button></th>
                {% elif Dicktionary[s][3] == 4 %}
                <th><button type="button" hx-trigger="click" hx-post="/pizza?hawaii2" hx-target="#cart">Delete</button></th>
                {% elif Dicktionary[s][3] == 6 %}
                <th><button type="button" hx-trigger="click" hx-post="/pizza?vegan2" hx-target="#cart">Delete</button></th>
                {% elif Dicktionary[s][3] == 7 %}
                <th><button type="button" hx-trigger="click" hx-post="/pizza?funghi2" hx-target="#cart">Delete</button></th>
                {% elif Dicktionary[s][3] == 5 %}
                <th><button type="button" hx-trigger="click" hx-post="/pizza?glutenf2" hx-target="#cart">Delete</button></th>
                {% endif %}
                {% endif %}
            </tr>
            {% endfor %}
            <tr>
                <th></th>
                <th></th>
                <th>Total: {{ Price }}</th>
            </tr>
        </table>
        <button class="payment" onclick="location.href='/payment'" type="button">Payment</button>
        {% endif %}
    </div>
</body>

</html>