<html>

<head>
    <title>Mario's Pizzaria</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet">
</head>
<script src="https://unpkg.com/htmx.org@1.8.2"></script>

<body>
    <div id="cart2">
        {% if Order == [] %}
        {% else %}
        <h1>Cart</h1>
        <br><br>
        <table>
            <tr>
                <th>Item</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
            {% for s in Order %}
            <tr>
                <th>{{ Dicktionary[s][0] }}</th>
                <th>{{ Dicktionary[s][2] }}</th>
                <th class="price">{{ Dicktionary[s][1] }}</th>
                {% if Dicktionary[s][1] == 8 %}
                <th><button type="button" hx-trigger="click" hx-get="/rmargaritha" hx-target="#cart">Delete</button></th>
                {% elif Dicktionary[s][1] == 10 %}
                <th><button type="button" hx-trigger="click" hx-get="/rPep" hx-target="#cart">Delete</button></th>
                {% elif Dicktionary[s][1] == 12 %}
                <th><button type="button" hx-trigger="click" hx-get="/rBBQC" hx-target="#cart">Delete</button></th>
                {% endif %}
            </tr>
            {% endfor %}
            <tr>
                <th></th>
                <th></th>
                <th>Total: {{ Price }}</th>
            </tr>
        </table>
        <button class="payment" onclick="location.href='/payment'" type="button">Payment</button>
        {% endif %}
    </div>
</body>

</html>