<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <link
        href="https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=Chela+One&family=Open+Sans&display=swap"
        rel="stylesheet">
</head>

<body>
    <form action="/changep" method="POST">
        <input type="password" placeholder="New password" name="pass">
        <input type="submit" name="Register" class="submitButton registerButton">
    </form>
</body>

</html>