<html>
    <head>
        <link rel="stylesheet" href="../static/css/cookorders.css" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=Chela+One&family=Open+Sans&display=swap" rel="stylesheet">

        <h1> <div class="Mariologo"> MARIO </div> <div class="andsymbol"> & </div> <div class= "Luigilogo"> LUIGI'S </div> PIZZERIA </h1>

    </head>
    <script src="https://unpkg.com/htmx.org@1.8.2"></script>

    <body>

        <!---login button that links to login page-->
        <div class="Loginbutton">

            <a href="https://www.google.com"> <!--replace this link with a link to login page-->
                <button id="login"> LOGIN </button>
            </a>

        </div>

        <div class="Menubar">
            
            <!--link to take order page-->
            <a href="https://www.google.com">
                <button id="takeorder"> TAKE ORDERS</button>
            </a>
            <!--link to order page-->
            <a href="https://www.google.com">
                <button id="orders"> ORDERS</button>
            </a>

        <div class="Greenbar"></div>    


        <!--This is the set of code that diplays the orders-->
        <div #id="here" hx-get="/cookorders" hx-target="body" hx-trigger="every 1s">

           <div id="Dontdisplay">
             {% if AllOrders == [] %}
            </div>

            <p id="Noorders">No orders at the moment</p>

            <div id="Dontdisplay">
                {% else %}
            </div> 

                <table>
                    <div class="Orderlist">
                        <div class="Ordertext">
                           <p id="OrderContent">     
                                Ordered By:</br>
                                 Ordernumber: </br>
                                 Pizzas: </br>
                                 Ingredients: </br>
                                 Time left: </br>
                            </p>
                        </div>
                    </div>

                    <div id="Dontdisplay">
                        {% for order in AllOrders %}
                    </div>    
                    
                        <tr class="Hide">
                            <th>{{ order[1] }}</th>
                            <th>{{ order[2] }}</th>
                            <th>
                                {% for item in Pizzas %}
                                    {% if item[0] == order[2] %}
                                        {% for thing in item %}
                                            {% if thing != order[2] %}
                                                {{ thing }}<br>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </th>
                            <th>
                                {% for item in Pizzas %}
                                    {% if item[0] == order[2] %}
                                        {% for thing in item %}
                                            {% if thing != order[2] %}
                                                {{ Dicktionary[thing][2] }}<br>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </th>
                            <th>

                            </th>
                        </tr>
                 <div id="Dontdisplay">     
                    {% endfor %}
                </div>    

                </table>

                <div class="FinishButton">
                    <form action="/cooking">
                        <div class="InputTextColor">
                            <input type="text" name="ON" value= {{ order[2] }}>
                        </div>
                        <input type="submit" value="Done">   
                    </form>
                </div>

                <div id="Dontdisplay">    
                 {% endif %}
                 </div>
        </div>
        
        <div class="DividingLine">

        </div>

        <div class="PizzasInOven">
            <p id="OvenPizzaStatus">
                <p id="StatusTitle">Order Status: </p> </br></br>

                <div class="StatusContent">
                    <p id="part1StatusContent">
                        Order number: </br>
                    </p>

                    <p id="part2StatusContent">
                        Insert order number ........................ mins
                    </p>
                        
                </div>
            </p>
        </div>

    </body>
</html>