<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <link
        href="https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=Chela+One&family=Open+Sans&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="main" id="pizzas">
        <div class="custPizza">
            <h1>Make you own pizza!</h1>
            <div class="space_between">
                <table>
                    <tr>
                        <th><h3>Dough/Crust</h3></th>
                        <th><h3>Sauce</h3></th>
                    </tr>
                    <form>
                        <tr>
                            <td>
                                <select name="stuff" hx-target=".price" hx-post="/custpizza" id="crust">
                                    <option selected value="0">Normal</option>
                                    <option value="1">Italian(+ &euro;2,19)</option>
                                    <option value="2">Philadelphia filled crust(+ &euro;3,49)</option>
                                </select>
                            </td>
                            <td>
                                <select id="sauce" hx-target=".price" hx-post="/custpizza" name="stuff">
                                    <option selected value="3">Tomato sauce</option>
                                    <option value="4">Pesto(+ &euro;1,19)</option>
                                    <option value="5">White Garlic Sauce(+ &euro;2,49)</option>
                                    <option value="6">Marinara Sauce(+ &euro;3,49)</option>
                                </select>
                            </td>
                        </tr>
                        <tr> 
                            <th><h3>Toppings</h3></th>
                        </tr>
                        <tr>
                            <td class="toppings"><input type="checkbox" hx-trigger="click" hx-target=".price" hx-post="/custpizza?19">Beef (+ &euro;3,-)</td>
                        </tr>
                        <tr>
                            <td class="toppings"><input type="checkbox" hx-trigger="click" hx-target=".price" hx-post="/custpizza?20">Pork (+ &euro;2,85)</td>
                        </tr>
                        <tr>
                            <td class="toppings"><input type="checkbox" hx-trigger="click" hx-target=".price" hx-post="/custpizza?16">Chicken (+ &euro;2,-)
                            </td>
                        </tr>
                        <tr>
                            <td class="toppings"><input type="checkbox" hx-trigger="click" hx-target=".price" hx-post="/custpizza?14">Sausage (+ &euro;1,90)
                            </td>
                        </tr>
                        <tr>
                            <td class="toppings"><input type="checkbox" hx-trigger="click" hx-target=".price" hx-post="/custpizza?15">Bacon (+ &euro;2,-)</td>
                        </tr>
                        <tr>
                            <td class="toppings"><input type="checkbox" hx-trigger="click" hx-target=".price" hx-post="/custpizza?7">Pepperoni (+ &euro;1,10)
                            </td>
                        </tr>
                        <tr>
                            <td class="toppings"><input type="checkbox" hx-trigger="click" hx-target=".price" hx-post="/custpizza?8">Ham (+ &euro;1,20)</td>
                        </tr>
                        <tr>
                            <td class="toppings"><input type="checkbox" hx-trigger="click" hx-target=".price" hx-post="/custpizza?9">Mushrooms (+ &euro;1,30)
                            </td>
                        </tr>
                        <tr>
                            <td class="toppings"><input type="checkbox" hx-trigger="click" hx-target=".price" hx-post="/custpizza?10">Pineapple (+ &euro;1,15)
                            </td>
                        </tr>
                        <tr>
                            <td class="toppings"><input type="checkbox" hx-trigger="click" hx-target=".price" hx-post="/custpizza?11">Olives (+ &euro;1,15)</td>
                        </tr>
                        <tr>
                            <td class="toppings"><input type="checkbox" hx-trigger="click" hx-target=".price" hx-post="/custpizza?12">Onions (+ &euro;1,30)</td>
                        </tr>
                        <tr>
                            <td class="toppings"><input type="checkbox" hx-trigger="click" hx-target=".price" hx-post="/custpizza?13">Corn (+ &euro;1,20)</td>
                        </tr>
                        <tr>
                            <td class="toppings"><input type="checkbox" hx-trigger="click" hx-target=".price" hx-post="/custpizza?17">Spinach (+ &euro;0,89)
                            </td>
                        </tr>
                        <tr>
                            <td class="toppings"><input type="checkbox" hx-trigger="click" hx-target=".price" hx-post="/custpizza?18">Basel (+ &euro;0,89)</td>
                        </tr>
                    </form>
                    <tr>
                        <td class="space_between custPizzaButtons">
                            <div class="price totalPrice">&euro;{{Price}}</div>
                            <button type="button" class="payButton" hx-trigger="click" hx-post="/custpizza?21" hx-target=".main"
                                hx-swap="outerHTML">Add to cart</button>
                        </td>
                    </tr>
                </table>
                <img src="../static/mario_cook.png" class="marioCookImg">
            </div>
            <a hx-trigger="load" hx-get="/cart" hx-target="#cart"></a>
        </div>
    </div>
    <div class="emtpySpace">

    </div>
</body>

</html>