<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <link
        href="https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=Chela+One&family=Open+Sans&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="main" id="pizzas">
        <div class="row">
            <div class="pizzaItem dessertImg">
                <img src="../static/13_cheesecake.jpg">
                <h4>
                    Cheesecake: &euro;8,-
                    <button class="button" type="button" hx-post="/pizza?margaritha" hx-trigger="click"
                        hx-target="#cart">Add</button>
                </h4>
            </div>
            <div class="pizzaItem dessertImg">
                <img src="../static/14_cookie.png">
                <h4>
                    Chocolate Cookie: &euro;11,-
                    <button class="button" hx-post="/pizza?hawaii" hx-trigger="click" hx-target="#cart"
                        type="button">Add</button>
                </h4>
            </div>
            <div class="pizzaItem dessertImg">
                <img src="../static/15_brownie.jpg">
                <h4>
                    Brownie: &euro;12,-
                    <button class="button" hx-post="/pizza?pepperoni" hx-trigger="click" hx-target="#cart">Add</button>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="pizzaItem dessertImg">
                <img src="../static/16_cupcake.jpg">
                <h4>
                    Vanilla Cupcake: &euro;9,-
                    <button class="button" type="button" hx-post="/pizza?glutenf" hx-trigger="click"
                        hx-target="#cart">Add</button>
                </h4>
            </div>
            <div class="pizzaItem dessertImg">
                <img src="../static/17_icecream.jpg">
                <h4>
                    Ice Cream: &euro;15,-
                    <button class="button" hx-post="/pizza?vegan" hx-trigger="click" hx-target="#cart"
                        type="button">Add</button>
                </h4>
            </div>
            <div class="pizzaItem dessertImg">
                <img src="../static/18_tiramisu.jpg">
                <h4>
                    Tiramisu: &euro;13,-
                    <button class="button" hx-post="/pizza?veggie" hx-trigger="click" hx-target="#cart">Add</button>
                </h4>
            </div>
        </div>
    </div>
</body>

</html>