<html>
<div id="whole">

    <head>
        <link rel="stylesheet" href="../static/css/homepage.css">
        <link
            href="https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=Chela+One&family=Open+Sans&display=swap"
            rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="../static/mario-icon-28.jpg">

    </head>

    <body>

        <!-- <div class="LogoandLogin">
            <div class="LogoContainer">
                <h1> 
                    <div class="Mariologo"> MARIO </div> 
                    <div class="andsymbol"> & </div> 
                    <div class= "Luigilogo"> LUIGI'S </div> 
                    PIZZERIA 
                
                </h1>
            </div>

            <div class="Loginbutton">
                <a href="login.html"> 
                    <button id="login"> LOGIN </button>
                </a>
            </div> -->




        <div class="logo">
            <div class="Mariologo">MARIO</div>
            <div class="andsymbol">&</div>
            <div class="Luigilogo">LUIGI'S</div>
            PIZZERIA
        </div>
        
        <div class="horizontal1">
            <div class="vertical1">

            </div>
        </div>

        <div class="Horizontalposition">

            <div class="Verticalposition2">
                <div class="center">
                    <p id="Choose">Order method</p>
                </div>

                <div class="options">

                    <div class="DeliveryButton">
                        <a></a>

                        <button id="Deliver" onclick="location.href='/'" type="button">
                            <img src="../static/19DeliveryLogo.png" alt="Delivery" id="DeliveryIcon">
                            <p id="label1">DELIVERY</p>
                        </button>
                        </a>
                    </div>

                    <div class="spacing"></div>

                    <div class="StoreButton">
                        <a>
                            <button id="Instore" onclick="location.href='/'" type="button">

                                <img src="../static/20Store.png" alt="Store" style='width:50px;' id="StoreIcon">
                                <p id="label2">IN STORE</p>

                            </button>

                        </a>
                    </div>
                </div>

            </div>

        </div>

        <div class="PROMOS">

            <div class="images">

                <img src="../static/22MONDAYPROMO.gif" alt="MONDAYPROMO" id="promo1">
                <img src="../static/23PIZZASALE.gif" alt="MONDAYPROMO" id="promo2">
                <img src="../static/24FRIDAYPROMO.gif" alt="MONDAYPROMO" id="promo3">
            </div>

        </div>



    </body>

</html>