<html>
    <div id="whole">
    <head>
        <link rel="stylesheet" href="../static/css/homepage.css">
        <link href="https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=Chela+One&family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="../static/mario-icon-28.jpg">
    
    </head>
    <body>
<!--
        <div class="LogoandLogin">
            <div class="LogoContainer">
                <h1> 
                    <div class="Mariologo"> MARIO </div> 
                    <div class="andsymbol"> & </div> 
                    <div class= "Luigilogo"> LUIGI'S </div> 
                    PIZZERIA 
                
                </h1>
            </div>

            <div class="Loginbutton">
                <a href="login.html"> 
                    <button id="login"> LOGIN </button>
                </a>
            </div>

        </div>

        <div class="Menubar">
            <div class="Redbar">

                <a href="homepage.html">
                    <button id="HOME"onclick="location.href='/'" type="button">HOME</button>
                </a>
              
                <a href="ordertracker.html">
                    <button id="Check"> ORDER TRACKING</button>
                </a>


            </div>
            <div class="Greenbar">
                <a href="pizzas.html">
                    <button id="HOME"> PIZZAS</button>
                </a>

                <a href="drinks.html">
                    <button id="Check"> DRINKS</button>
                </a>

                <a href="desserts.html">
                    <button id="Check"> DESERT</button>
                </a>

            </div>
        </div>
-->

        <div class="Horizontalposition">


           <div class="Verticalposition">
            
            <div class="center">
             <p id="Choose">Order method</p>
            </div>

             <div class="options">
                    <a href="index.html">
                        
                         <button id="Deliver"> 
                            <img src="../static/19DeliveryLogo.png"alt="Delivery" width="50px" id="DeliveryIcon"> 
                            <label id="label">DELIVERY</label>
                         </button>
                    </a>

                    

                    <div class="spacing"></div>

                    <a href="index.html">
                        <button id="Instore"> 
                            
                            <img src="../static/20Store.png"alt="Store" width="50px" id="StoreIcon"> 
                            <label>IN STORE</label>

                        </button>

                    </a>
                </div>
            </div>


           </div>
        </div>

<!--
        <div class="Bottomlines">
            <div id="bottombar1"></div>
            <div id="bottombar2"></div>
        </div>
-->


    </body>
    </div>
</html>