<!DOCTYPE html>
<html>
{% if session.name == "Pizza"%}
<div id="start" hx-trigger="load" hx-get="/cookorders" hx-target="body" hx-swap="outerHTML"></div>
{% endif %}
{% if ft[session.name] == 0 %}
<div id="start" hx-trigger="load" hx-get="/hpage" hx-target="body" hx-swap="outerHTML"></div>
{% endif %}

<head>
    <title>Mario & Luigi's Pizzeria</title>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <link
        href="https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=Chela+One&family=Open+Sans&display=swap"
        rel="stylesheet">
    <link href="../static/css/tracked.css" type="text/css" rel="stylesheet">
    <link href="../static/css/payment.css" type="text/css" rel="stylesheet">
    <link href="../static/css/status.css" type="text/css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../static/mario-icon-28.jpg">
    <!--Script used for AJAX(dynamic) refresh-->
    <script src="https://unpkg.com/htmx.org@1.8.2"></script>
</head>

<body>
    <div class="navbar">
        <div class="logo">
            <div class="Mariologo">MARIO</div>
            <div class="andsymbol">&</div>
            <div class="Luigilogo">LUIGI'S</div>
            PIZZERIA
        </div>
        <div class="linkBar space_between">
            <div>
                <a href="/">Home</a>
                <a hx-trigger="click" hx-get="/ordertracker" hx-trigger="click" hx-target="#cart">Track your order</a>
            </div>
            <div>
                {% if anon[session.name] == 1 %}
                <a class="login" hx-get="/login" hx-trigger="click" hx-target="#cart">Login</a>
                {% else %}
                {% if session.name %}
                <a class="login" hx-get="/account" hx-trigger="click" hx-target="#cart">Account</a>
                <a class="login" href="/logout">Sign out</a>
                {% else %}
                <a class="login" hx-get="/login" hx-trigger="click" hx-target="#cart">Login</a>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="menuBar">
        <a hx-trigger="click" hx-get="/pizza" hx-target=".main" hx-swap="outerHTML">Pizzas</a>
        <a hx-trigger="click" hx-get="/drinks" hx-target=".main" hx-swap="outerHTML">Drinks</a>
        <a hx-trigger="click" hx-get="/desserts" hx-target=".main" hx-swap="outerHTML">Desserts</a>
        <a hx-trigger="click" hx-get="/custpizza" hx-target=".main" hx-swap="outerHTML">Make your own Pizza</a>
    </div>

    <div class="main" hx-trigger="load" hx-get="/pizza" hx-target=".main" hx-swap="outerHTML"></div>

    <!--hx-trigger load means that it triggers the first time the html file loads, 
                this is how we get the cart to appear if there is already stuff in it-->
    <div class="main" id="cart" hx-trigger="load" hx-get="/cart" hx-target="#cart">
    </div>
    <div class="redBottomBar"></div>
    <div class="greenBottomBar"></div>
</body>

</html>