<!DOCTYPE html>
<html>

<head>
    <title>Mario's Pizzeria</title>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=Chela+One&family=Open+Sans&display=swap" rel="stylesheet">
</head>
<!--Script used for AJAX(dynamic) refresh-->
<script src="https://unpkg.com/htmx.org@1.8.2"></script>

<body>
    <div class="navbar">
        <div class="logo">
            <div class="Mariologo">MARIO</div>
            <div class="andsymbol">&</div>
            <div class="Luigilogo">LUIGI'S</div>
            PIZZERIA
        </div>
        <div class="linkBar space_between">
            <div>
                <a href="/">Home</a>
                <a href="/cart">Cart</a>
                <a href="/ordertracker">Order search</a>
            </div>
            <div>
                {% if anon == 1 %}
                <a class="login" href="/login">Login</a>
                {% else %}
                {% if session.name %}
                <a class="login" href="/account">Account</a>
                <a class="login" href="/logout">Sign out</a>
                {% else %}
                <a class="login" href="/login">Login</a>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="space_between">
        <div class="main" id="pizzas">
            <h4>Margaritha, 8</h4>
            <!--Every button here does the same thing - adding pizza to the cart, done through ajax in order to not refresh the whole page
                hx-get sends a 'GET' request to our server, hx-trigger is what triggers that, and hx-target targets where the changes should happen using css targeting
                   in our case we send it to /margaritha |  in our case that is the button being clicked  |  in our case that is the div with id #cart-->
            <button class="button" type="button" hx-get="/margaritha" hx-trigger="click" hx-target="#cart">Add</button>
            <h4>Pepperoni, 10</h4>
            <button class="button" hx-get="/Pep" hx-trigger="click" hx-target="#cart" type="button">Add</button>
            <h4>Barbeque Chicken, 12</h4>
            <button class="button" hx-get="/BBQC" hx-trigger="click" hx-target="#cart">Add</button>
        </div>
        <!--hx-trigger load means that it triggers the first time the html file loads, 
                this is how we get the cart to appear if there is already stuff in it-->
        <div id="cart" hx-trigger="load" hx-get="/cart" hx-target="#cart">
        </div>
    </div>
</body>

</html>