<!DOCTYPE html>
<html>

<head>
   <title>Mario & Luigi's Pizzeria</title>
   <link rel="stylesheet" href="../static/css/style.css" type="text/css">
   <link
      href="https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=Chela+One&family=Open+Sans&display=swap"
      rel="stylesheet">
   <script src="https://unpkg.com/htmx.org@1.8.2"></script>
</head>

<body>
   <div class="loginMain pizzaItem">
      <h1>Login</h1>
      <form action="/login" method="POST">
         <input placeholder="Username" autocomplete="off" type="text" name="name" class="textField">
         <br>
         <input placeholder="Password" autocomplete="off" type="password" name="pass" class="textField">
         <br>
         <input type="submit" hx-target=".main" name="Login" class="submitButton">
         <p class="accountorno">Don't have an account?<button class="registerButton" type="button"
               onclick="location.href='/register'">Register</button></p>
         {% with messages = get_flashed_messages() %}
         {% if messages %}
         {% for message in messages %}
         <p>{{ message }}</p>
         {% endfor %}
         {% endif %}
         {% endwith %}
      </form>
   </div>
</body>

</html>