<html>
    <head>
        <title>Mario's Pizzeria - Order Tracker</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="main">
        <button onclick="location.href='/'" type="button">Home</button>
        <form action="ordertrack">
            <label for="ordernumber">Insert order number here:</label><br>
            <input type="text" name="ordernumber" value="" required><br><br>
            <input type="submit" value="Submit">
        </form>
        </div>
    </body>
</html>