<html>
    <head>
        <title>Payment</title>
        <link href="../static/css/payment.css" type="text/css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=Chela+One&family=Open+Sans&display=swap" rel="stylesheet">
    </head>
    <body>

        <!--
            <div class="TopPart">
                <h1> <div class="Mariologo"> MARIO </div> <div class="andsymbol"> & </div> <div class= "Luigilogo"> LUIGI'S </div> PIZZERIA </h1>

                
                

                <div class="Loginbutton">

                    <a href="login.html"> 
                        <button id="login"> LOGIN </button>
                    </a>

                </div>
            </div>

            <div class="Menubar">
                <div class="Redbar">
                    <div class="Redbaroptions">

                        
                        <a href="pizzas.html">
                            <button id="Order"> ORDER</button>
                        </a>
                       
                        <a href="status.html">
                            <button id="Check"> CHECK STATUS</button>
                        </a>
                    </div>    
                </div>    
            </div>    
            <div class="Greenbar"></div> 

        -->

        
        
        <div class="main">

            <div class="positioning">

                <form id="paymentdetails">

                    <p id="tittle"> Payment method</p><br>

                    <div class="PaymentIcons">

                        <img src="../static/PayPal-Logo.png" alt="paypal" id="Paypal">
                        <img src="../static/Visa-Mastercard.png" alt="VisaMastercard" id="VisaMasterCard">
                    </div>

                    <div class="Name">
                        <label id= "Name">Name on card:</label>
                        <input id="inputlength" type="text" name="ordernumber" value="" required><br>
                    </div>

                    <div class="Number">
                        <label id= "CardNumber">Card number:</label>
                        <input id="inputlength" type="text" name="ordernumber" value="" required><br>
                    </div>

                   <div class="CVVandEXP"> 
                        <div class="CVV">
                            <label id= "Code">CVV:</label>
                            <input id="inputlength2" type="text" name="ordernumber" value="" required><br>
                        </div>

                        <div class="Expiration">
                            <label id= "Expiration">Expiration:</label>
                            <input id="inputlength3" type="text" name="ordernumber" value="" required><br>
                        </div>
                    </div>
                        
                    <div class="buttonposition">
                        <button id="Done" onclick="location.href='/hpage'" type="button">PAY</button>
                    </div>
                </form>

            </div>

        </div>

        <!--

        <div id="bottombar2"></div>
        <div id="bottombar1"></div>

            -->
        
    </body>
</html>