<html>
    <head>
        <title>Mario's Pizzeria - Register</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <form action="registerdata" method="POST">
            <label for="fusername">Username:</label><br>
            <input type="text" name="username" value="" required><br><br>
            <label for="fpassword">Password:</label><br>
            <input type="password" name="password" value="" required><br><br>
            <input type="submit" value="Submit">
        </form>
        <p>Already have a account? </p><a href="/login">Login</a>
        
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </body>
</html>