<html>
    <head>
        <title>Status Updates</title>
        <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet">
    </head>
    <body>
        <p>Your order has been confirmed. <br>Order number: {{ Ordernumber }}</p>
        <button onclick="location.href='/'" type="button">Home</button>
        {% if Status == Zero %}
            Pizza is still in the oven for another {{ Timer }}.
        {% elif Status == One %}
            Pizza is being prepared for pick up.
        {% else %}
            Pizza is ready for take off.
        {% endif %}
    </body>
</html>