<html>
    <head>
        <title>Status Updates</title>
        <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet">
        <link href="../static/css/status.css" type="text/css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=Chela+One&family=Open+Sans&display=swap" rel="stylesheet">
    </head>

    <script src="https://unpkg.com/htmx.org@1.8.2"></script>
<div id="all">
    <body>
        
        <div id="cart2">
            
            <div id="divID">
                <div id="text">
                    <p>Your order has been confirmed. </p> <br>
                    <p>Order number: {{ Ordernumber[session.name] }}</p> <br>
                    <div id="here" hx-get="/timerupdate" hx-target="#all" hx-trigger="every 1s">
                    {% if Status == 0 %}  
                    <p id="center">Pizza is still in the oven for another {{ Timer }}.</p> <br>
                    {% elif Status == 1 %}
                    </p id=center> Pizza is being prepared for pick up. </p> <br>
                    {% else %}
                    </p id=center>Pizza is ready for take off.</p> <br>
                    {% endif %}
                    
                    <div class="HomeButton">
                        <a>
                            <button id="DONE" onclick="location.href='/hpage'" type="button">DONE</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

       

        </div>
        
<!--
        <div class="Bottomlines">
            <div id="bottombar1"></div>
            <div id="bottombar2"></div>
        </div>
    </body>
    
-->

</html>