<html>
    <head>
        <title>Status Updates</title>
        <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet">
    </head>
    <body>
        <script src="https://unpkg.com/htmx.org@1.8.2"></script>
        <div id="divID">
            <p>Your order has been confirmed. <br>Order number: {{ Ordernumber }}</p>
            <button onclick="location.href='/'" type="button">Home</button>
            <div hx-get="/status" hx-trigger="every 2s">{% if Status == 0 %}
                Pizza is still in the oven for another {{ Timer }}.
            {% elif Status == 1 %}
                Pizza is being prepared for pick up.
            {% else %}
                Pizza is ready for take off.
            {% endif %}
        </div>
        </div>
    </body>
    

</html>