<html>
    <head>
        <title>Mario's Pizzaria</title>
        <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet">
    </head>
    <body>
        <button onclick="location.href='/'" type="button">Home</button>
        <br><br>
        {{ Ordernumber }}
        <table>
            <tr>
                <th>Item</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
            {% for s in Order %}
                <tr>
                    <th>{{ Dicktionary[s][0] }}</th>
                    <th>{{ Dicktionary[s][2] }}</th>
                    <th class="price">{{ Dicktionary[s][1] }}</th>
                </tr>
            {% endfor %}
            <tr>
                <th></th>
                <th></th>
                <th>Total: {{ Price }}</th>
            </tr>
        </table>
    </body>
</html>