<html>
    <head>
        <title>Mario's Pizzaria</title>
        <link href="../static/css/tracked.css" type="text/css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=Chela+One&family=Open+Sans&display=swap" rel="stylesheet">

    </head>
    <body>

        <div class="Trackingblock">
            <div class="centerpositioning">
                <button onclick="location.href='/'" type="button">Home</button>
                <br><br>
                {{ Ordernumber }}
                <table>
                    <tr>
                        <th>Item</th>
                        <th>Description</th>
                        <th>Price</th>
                    </tr>
                    {% for item in Order %}
                    <tr>
                        
                        <th>
                            {%if item in Dicktionary%}
                            {% if Dicktionary[item][0] != "Drink" %}
                                {% if Dicktionary[item][0] != "Dessert" %}
                                    {{Dicktionary[item][0]}}
                                {% else %}
                                    {{Dicktionary[item][2]}}
                                {% endif %}
                            {% else %}
                            {{Dicktionary[item][2]}}
                            {% endif %}
                            {% elif item == "Custom" %}
                            Custom
                            {% else %}
                            {% endif %}
                        </th>
                        <th>
                            {%if item == "Normal"%}
                            Normal,
                            {% elif item == "Italian"%}
                            Italian,
                            {% elif item == "Philladelphia"%}
                            Phillladelphia, 
                            {% elif item == "Tomatosauce"%}
                            Tomato Sauce, 
                            {% elif item == "Pesto"%}
                            Pesto, 
                            {%elif item == "Italian"%}
                            Italian, 
                            {%elif item == "White Garlic"%}
                            White Garlic, 
                            {%elif item == "Marinara sauce"%}
                            Marinara sauce,
                            {%elif item == "Pepperoni"%}
                            Pepperoni, 
                            {% elif item == "Ham"%}
                            Ham, 
                            {% elif item == "Mushrooms"%}
                            Mushrooms, 
                            {%elif item == "Pineapple"%}
                            Pineapple, 
                            {%elif item == "Olives"%}
                            Olives, 
                            {%elif item == "Corn"%}
                            Corn, 
                            {% elif item == "Sausage"%}
                            Sausage, 
                            {% elif item == "Bacon"%}
                            Bacon, 
                            {%elif item == "Chicken"%}
                            Chicken,
                            {%elif item == "Spinach"%}
                            Spinach, 
                            {%elif item == "Basel"%}
                            Basel, 
                            {%elif item == "Beef"%}
                            Beef, 
                            {%elif item == "Pork"%}
                            Pork, 
                            {%elif item == " "%}
                            {%elif item == session["name"]%}
                            {% elif item in Dicktionary%}
                            {% if Dicktionary[item][0] != "Drink" %}
                                {% if Dicktionary[item][0] != "Dessert" %}
                                    {{Dicktionary[item][2]}}
                                {% else %}
                                {% endif %}
                            {% else %}
                            {% endif %}
                            {% endif %}
                        </th>
                        {% if "." in item%}
                        <th>{{item}}</th>
                        {% elif item in Dicktionary%}
                        <th>{{Dicktionary[item][1]}}</th>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    <tr><td></td><td></td><th>Total: {{ Price }}</th></th></tr>
                </table>
            </div>    
        </div>    
    </body>
</html>